.not-found{
    .blob-1{
        z-index: 0;
      width: 20%;
      height: 30%;
      top: 0%;
      left: 10%;
      background: radial-gradient(
        circle at 50% 50%,
        var(--aurora-brown),
        rgba(76, 0, 255, 0)
      );
      opacity: 0.3;
    }

    .blob-2{
        z-index: 0;
      width: 30%;
      height: 20%;
      top: 10%;
      right: 30%;
      background: radial-gradient(
        circle at 50% 50%,
        var(--main-green),
        rgba(76, 0, 255, 0)
      );
      opacity: 0.4 !important;
    }
}