.about {
  .hero{
    .blob-1 {
      z-index: 0;
      width: 20%;
      height: 30%;
      top: 0%;
      left: 10%;
      background: radial-gradient(
        circle at 50% 50%,
        var(--aurora-brown),
        rgba(76, 0, 255, 0)
      );
      opacity: 0.3;
    }

    .blob-2 {
      z-index: 0;
      width: 30%;
      height: 20%;
      top: 10%;
      right: 30%;
      background: radial-gradient(
        circle at 50% 50%,
        var(--main-green),
        rgba(76, 0, 255, 0)
      );
      opacity: 0.4 !important;
    }
  }

  .how {
    .text-stroke {
      -webkit-text-stroke: 2px;
      -webkit-text-stroke-color: #333333;
    }
  }

  .who {
    .blob-1 {
      top: 20%;
      left: 50%;
      background: radial-gradient(
        circle at 50% 50%,
        var(--aurora-brown),
        rgba(76, 0, 255, 0)
      );
      opacity: 0.3;
    }

    .blob-2 {
      top: -20%;
      left: 5%;
      background: radial-gradient(
        circle at 50% 50%,
        var(--main-green),
        rgba(76, 0, 255, 0)
      );
      opacity: 0.2 !important;
    }

    .blob-3 {
      top: 30%;
      left: 20%;
      background: radial-gradient(
        circle at 50% 50%,
        var(--aurora-brown),
        rgba(76, 0, 255, 0)
      );
      opacity: 0.2;
    }

    @media screen and (min-width:1024px) and (max-width:1279px){
      .img-1 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 45%;
        left: 0;
        width: 15%;
      }

      .img-2 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 40%;
        left: 35%;
        width: 15%;
      }

      .img-3 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 40%;
        left: 70%;
        width: 20%;
      }

      .img-4 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 85%;
        left: -10%;
        width: 15%;
      }

      .img-5 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 90%;
        left: 90%;
        width: 8%;
      }

      .img-6 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 85%;
        left: 60%;
        width: 15%;
      }

      .img-7 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 60%;
        left: 90%;
        width: 15%;
      }

      .img-8 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 90%;
        left: 30%;
        width: 20%;
      }
    }

    @media screen and (min-width: 1280px) and (max-width: 1535px) {
      .img-1 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 45%;
        left: 0;
        width: 15%;
      }

      .img-2 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 40%;
        left: 35%;
        width: 15%;
      }

      .img-3 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 40%;
        left: 70%;
        width: 20%;
      }

      .img-4 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 85%;
        left: -10%;
        width: 15%;
      }

      .img-5 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 90%;
        left: 90%;
        width: 8%;
      }

      .img-6 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 85%;
        left: 60%;
        width: 15%;
      }

      .img-7 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 60%;
        left: 90%;
        width: 15%;
      }

      .img-8 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 90%;
        left: 30%;
        width: 20%;
      }
    }

    @media screen and (min-width: 1536px) and (max-width: 1919px) {
      .img-1 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 35%;
        left: 0;
        width: 15%;
      }

      .img-2 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 25%;
        left: 35%;
        width: 20%;
      }

      .img-3 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 30%;
        left: 70%;
        width: 20%;
      }

      .img-4 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 85%;
        left: -10%;
        width: 15%;
      }

      .img-5 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 90%;
        left: 90%;
        width: 8%;
      }

      .img-6 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 70%;
        left: 60%;
        width: 20%;
      }

      .img-7 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 60%;
        left: 90%;
        width: 15%;
      }

      .img-8 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 90%;
        left: 30%;
        width: 20%;
      }
    }

    @media screen and (min-width: 1920px) {
      .img-1 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 35%;
        left: 0;
        width: 15%;
      }

      .img-2 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 25%;
        left: 35%;
        width: 20%;
      }

      .img-3 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 30%;
        left: 70%;
        width: 20%;
      }

      .img-4 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 85%;
        left: -10%;
        width: 15%;
      }

      .img-5 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 90%;
        left: 90%;
        width: 8%;
      }

      .img-6 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 70%;
        left: 60%;
        width: 20%;
      }

      .img-7 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 60%;
        left: 90%;
        width: 15%;
      }

      .img-8 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 90%;
        left: 30%;
        width: 20%;
      }
    }
  }

  .why {
    @media screen and (min-width: 1920px) {
      .plane-1 {
        bottom: 10%;
        left: 60%;
        width: 5%;
      }

      .plane-2 {
        top: 30%;
        left: 65%;
        width: 5%;
      }

      .plane-3 {
        top: 38%;
        left: 28%;
        width: 4%;
        transform: rotate(-30deg);
      }
    }
    @media screen and (min-width: 1536px) and (max-width: 1919px) {
      .plane-1 {
        bottom: 5%;
        left: 60%;
        width: 5%;
      }

      .plane-2 {
        top: 30%;
        left: 65%;
        width: 5%;
      }

      .plane-3 {
        top: 38%;
        left: 28%;
        width: 4%;
        transform: rotate(-30deg);
      }
    }

    @media screen and (min-width:1280px) and (max-width: 1525px){
      .plane-1 {
        bottom: 0%;
        left: 60%;
        width: 5%;
      }

      .plane-2 {
        top: 30%;
        left: 65%;
        width: 5%;
      }

      .plane-3 {
        top: 38%;
        left: 28%;
        width: 4%;
        transform: rotate(-30deg);
      }
    };

    @media screen and (min-width:1024px) and (max-width:1279px){
      .plane-1 {
        bottom: 0%;
        left: 60%;
        width: 5%;
      }

      .plane-2 {
        top: 35%;
        left: 65%;
        width: 5%;
      }

      .plane-3 {
        top: 38%;
        left: 28%;
        width: 4%;
        transform: rotate(-30deg);
      }
    }
  }
}
