.about {
  .who {
    @media screen and (min-width:1024px) and (max-width:1279px){
      .img-1 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 45%;
        left: 0;
        width: 15%;
      }

      .img-2 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 40%;
        left: 35%;
        width: 15%;
      }

      .img-3 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 40%;
        left: 70%;
        width: 20%;
      }

      .img-4 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 85%;
        left: -10%;
        width: 15%;
      }

      .img-5 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 90%;
        left: 90%;
        width: 8%;
      }

      .img-6 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 85%;
        left: 60%;
        width: 15%;
      }

      .img-7 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 60%;
        left: 90%;
        width: 15%;
      }

      .img-8 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 90%;
        left: 30%;
        width: 20%;
      }
    }

    @media screen and (min-width: 1280px) and (max-width: 1535px) {
      .img-1 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 45%;
        left: 0;
        width: 15%;
      }

      .img-2 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 40%;
        left: 35%;
        width: 15%;
      }

      .img-3 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 40%;
        left: 70%;
        width: 20%;
      }

      .img-4 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 85%;
        left: -10%;
        width: 15%;
      }

      .img-5 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 90%;
        left: 90%;
        width: 8%;
      }

      .img-6 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 85%;
        left: 60%;
        width: 15%;
      }

      .img-7 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 60%;
        left: 90%;
        width: 15%;
      }

      .img-8 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 90%;
        left: 30%;
        width: 20%;
      }
    }

    @media screen and (min-width: 1536px) and (max-width: 1919px) {
      .img-1 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 35%;
        left: 0;
        width: 15%;
      }

      .img-2 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 25%;
        left: 35%;
        width: 20%;
      }

      .img-3 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 30%;
        left: 70%;
        width: 20%;
      }

      .img-4 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 85%;
        left: -10%;
        width: 15%;
      }

      .img-5 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 90%;
        left: 90%;
        width: 8%;
      }

      .img-6 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 70%;
        left: 60%;
        width: 20%;
      }

      .img-7 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 60%;
        left: 90%;
        width: 15%;
      }

      .img-8 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 90%;
        left: 30%;
        width: 20%;
      }
    }

    @media screen and (min-width: 1920px) {
      .img-1 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 35%;
        left: 0;
        width: 15%;
      }

      .img-2 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 25%;
        left: 35%;
        width: 20%;
      }

      .img-3 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 30%;
        left: 70%;
        width: 20%;
      }

      .img-4 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 85%;
        left: -10%;
        width: 15%;
      }

      .img-5 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 90%;
        left: 90%;
        width: 8%;
      }

      .img-6 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 70%;
        left: 60%;
        width: 20%;
      }

      .img-7 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 60%;
        left: 90%;
        width: 15%;
      }

      .img-8 {
        box-shadow: 0 0 25px 0px var(--aurora-brown);
        top: 90%;
        left: 30%;
        width: 20%;
      }
    }
  }

  .why {
    @media screen and (min-width: 1920px) {
      .plane-1 {
        bottom: 10%;
        left: 60%;
        width: 5%;
      }

      .plane-2 {
        top: 30%;
        left: 65%;
        width: 5%;
      }

      .plane-3 {
        top: 38%;
        left: 28%;
        width: 4%;
        transform: rotate(-30deg);
      }
    }
    @media screen and (min-width: 1536px) and (max-width: 1919px) {
      .plane-1 {
        bottom: 5%;
        left: 60%;
        width: 5%;
      }

      .plane-2 {
        top: 30%;
        left: 65%;
        width: 5%;
      }

      .plane-3 {
        top: 38%;
        left: 28%;
        width: 4%;
        transform: rotate(-30deg);
      }
    }

    @media screen and (min-width:1280px) and (max-width: 1525px){
      .plane-1 {
        bottom: 0%;
        left: 60%;
        width: 5%;
      }

      .plane-2 {
        top: 30%;
        left: 65%;
        width: 5%;
      }

      .plane-3 {
        top: 38%;
        left: 28%;
        width: 4%;
        transform: rotate(-30deg);
      }
    };

    @media screen and (min-width:1024px) and (max-width:1279px){
      .plane-1 {
        bottom: 0%;
        left: 60%;
        width: 5%;
      }

      .plane-2 {
        top: 35%;
        left: 65%;
        width: 5%;
      }

      .plane-3 {
        top: 38%;
        left: 28%;
        width: 4%;
        transform: rotate(-30deg);
      }
    }
  }
}
