
/* DESTINATION OVERVIEW */
.destination__overview{
    margin: calc(var(--m-default-y) * 0.6) 0;
    padding: 0 var(--p-default-x);
}

.destination__overview .row:nth-child(1){
    margin: calc(var(--m-default-y) * 2) 0 calc(var(--m-default-y) * 2.5);
}


/* .destination__overview .row:nth-child(1) .col:nth-child(1),
.destination__overview .row:nth-child(1) .col:nth-child(2){
    width: 40vw;
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap-regular) * 0.5) ;
    justify-content: center;
    align-items:flex-end;
    font-size: var(--fs-medium);
    font-weight: 500;
}

.destination__overview .row:nth-child(1) .col:nth-child(2){
    justify-content: end;
} */

.destination__overview .row:nth-child(1) span{
    font-size: var(--fs-medium);
    font-weight: var(--fw-semi);
    padding-left: .3rem;
    /* color: var(--main-color-1); */
}

.destination__overview .row:nth-child(1) h1{
    line-height: 1;
    font-size: var(--fs-big-heading);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    background: var(--main-color-2);
    color: var(--text-dark);
    padding: 1rem;
    display: flex;
    align-items: flex-end;
}


.destination__overview .row:nth-child(2) .col:nth-child(1){
    width: 40vw;
    display: flex;
    flex-direction: column;
    gap: var(--gap-regular);
}

.destination__overview .row:nth-child(2) .col:nth-child(1) span:nth-child(1){
    margin-bottom: calc(var(--gap-regular) * 0.5);
}

.destination__overview .row:nth-child(2) .col:nth-child(1) span{
    font-size: var(--fs-medium);
    font-weight: var(--fw-medium);
}

.destination__overview .row:nth-child(2) .col:nth-child(1) p{
    width: 85%;
    font-size: var(--fs-regular);
}

.destination__carousel{
    width: 45vw !important;
    overflow: hidden;
    box-shadow: var(--box-shadow-light);
}

.destination__carousel .slick-track{
    display: flex;
    /* gap: var(--gap-regular); */
}

.slick-slider,
.slick-list,
.slick-track,
.slick-slide,
.slick-slide > div,
.slick-slide > div > img{
    border-radius: var(--border-radius) !important;
}

.slick-slide > div > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
}

/* DESTINATION VIDEO */
.destination__video{
    margin: var(--m-long-y) 0;
    display: flex;
    justify-content: center;
    background: #000;
    padding: 2rem 0;
}

.destination__video iframe{
    width: 95svw;
    height: 100svh;
}

/* COMMON*/
.destination__transportation .row:nth-child(1) h1,
.destination__places .row:nth-child(1) h1,
.destination__insight .row:nth-child(1) h1,
.destination__summary .row:nth-child(1) h1
{
    font-size: var(--fs-semi-big-heading);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    gap: var(--gap-medium);
}

.destination__transportation,
.destination__places{
    margin: var(--m-long-y) 0;
    padding: 0 var(--p-default-x);
}

/* DESTINATION TRANSPORTATION */

.destination__transportation .container{
    gap: var(--gap-medium);
}

.destination__transportation .row:nth-child(2){
    gap: var(--gap-medium);
}

.destination__transportation .row:nth-child(2) .col:nth-child(1){
    width: 35vw;
}

.destination__transportation .row:nth-child(2) .col:nth-child(1) p{
    font-size: var(--fs-regular);
}

.destination__transportation .row:nth-child(2) .col:nth-child(2){
    width: 40vw;
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap-medium)* 1.2)  ;
}

.transportation__option{
    gap: calc(var(--gap-regular) * 0.8);
    padding: 0 0 var(--gap-regular) 0;
    border-bottom: 1px solid var(--border-color);
}

.transportation__option > div:nth-child(1) button{
    font-size: var(--fs-medium);
    font-weight: var(--fw-semi);
    text-transform: uppercase;
} 

.transportation__option > div:nth-child(1) i{
    font-size: calc(var(--fs-medium) * 0.9) ;
}

.transportation__option > div:nth-child(2) > div:nth-child(2),
.transportation__option > div:nth-child(2) > div:nth-child(1){
    gap: var(--gap-regular);
    font-size: var(--fs-regular);
}

.transportation__option > div:nth-child(2) > div:nth-child(1) > div{
    gap: calc(var(--gap-regular) * 0.5) ;
}

.transportation__option li{
    margin-bottom: calc(var(--gap-regular) * 0.4) ;
}

.transportation__option strong{
    font-weight: var(--fw-semi);
}

/* DESTINATION PLACES */

.destination__places .container{
    gap: calc(2 * var(--gap-medium));
}

.destination__places .places__category{
    margin-top: var(--gap-medium);
    gap: var(--gap-medium);
}

.destination__places .places__category > div:nth-child(1) h1{
    font-size: var(--fs-heading);
    font-weight: var(--fw-medium);
}

.destination__places .places__category > div:nth-child(1) p{
    font-size: var(--fs-regular);
}

.destination__places .places__category .slick-track{
    display: flex;
    gap: var(--gap-regular);
    /* overflow: scroll !important; */
    /* scroll-behavior: smooth; */
    /* scrollbar-width: none; */
}

.destination__places .places{
    display: flex !important;
    gap: calc(var(--gap-regular) * 0.8);
}

.destination__places .places img{
    width: 100% !important;
    height: 15vw;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.destination__places .places span{
    font-weight: var(--fw-medium);
    font-size: var(--fs-medium);
}


/* DESTINATION INSIGHT */
.destination__insight{
    margin: var(--m-long-y) 0;
    padding: 0 var(--p-default-x);
}

.destination__insight .container{
    gap: var(--gap-medium);
}

.destination__insight .row:nth-child(2){
    gap: var(--gap-medium);
}

.destination__insight .col:nth-child(1){
    width: 35vw;
}

.destination__insight .col:nth-child(2){
    width: 40vw;
}

.insight__category{
    margin-bottom: var(--gap-medium);
}

.insight__category span{
    font-size: calc(1.1 * var(--fs-medium)) ;
    font-weight: var(--fw-semi);
    gap: calc(0.5 * var(--gap-regular));
}

.insight__category div{
    gap: var(--gap-regular);
}

.insight__category a{
    font-size: var(--fs-regular);
    padding: .5rem .25rem;
    border-bottom: 1px solid var(--border-color);
}

.destination__insight p{
    font-size: var(--fs-regular);
    font-weight: var(--fw-regular);
}


/* DESTINATION SUMMARY */
.destination__summary{
    margin: var(--m-long-y) 0;
    padding: 0 var(--p-default-x);
}

.destination__summary .container{
    gap: var(--gap-big);
}

.destination__summary .row:nth-child(2){
    gap: var(--gap-medium);
}

.destination__summary p{
    font-size: var(--fs-medium);
    font-weight: var(--fw-medium);
    width: 55vw;
    font-style: italic;
}

.destination__summary span{
    font-size: var(--fs-medium);
    font-weight: var(--fw-regular);
}