.discover {
  padding: 0 var(--p-default-x);
  margin: var(--m-default-y) 0 var(--m-long-y);
}

.country__selected,
.type__selected {
  color: var(--main-color-1) !important;
  font-weight: var(--fw-semi);
  text-decoration: underline;
}

.test__btn {
  min-width: 20vw;
  min-height: 10vh;
}

.test__btn > :nth-child(1),
.test__btn > :nth-child(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.test__btn > :nth-child(2) {
  min-width: 25vw;
  max-width: 28vw;
  min-height: 15vh;
  max-height: 20vh;
}

.test__btn > :nth-child(1) {
  min-width: 20vw;
  max-width: 25vw;
  min-height: 10vh;
  max-height: 15vh;
}

.discover__hero > .container {
  gap: var(--gap-big);
}

.discover__hero > .container > .row:nth-child(2) h1 {
  font-size: var(--fs-heading);
  text-align: center;
  min-width: 90vw;
  font-weight: var(--fw-medium);
  color: var(--text-light);
}

.discover__hero > .container > .row:nth-child(2) h1 strong {
  background: var(--heading-gradient);
  background-clip: text;
  color: transparent;
  font-size: var(--fs-medium-heading);
  font-weight: var(--fw-heading-bold);
  letter-spacing: calc(var(--gap-regular) * 0.3);
}

.discover__hero > .container > .row:nth-child(3) {
  margin-top: var(--m-long-y);
}

.discover__hero > .container > .row:nth-child(3) a {
  font-size: var(--fs-medium);
}

.discover__hero > .container > .row:nth-child(3) a i {
  font-size: var(--fs-medium);
}

.discover__hero .bg__float {
  position: absolute;
  background: transparent;
  width: 10vw;
  height: 10vw;
  border-radius: var(--border-radius);
  z-index: 0;
  perspective: 1000px;
}

.discover__hero .bg__float .float__inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: var(--border-radius);
}

.discover__hero .bg__float:hover .float__inner {
  transform: rotateY(180deg);
}

.float__front,
.float__back {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.float__front {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-light);
}

.float__back {
  border-radius: var(--border-radius);
  transform: rotateY(180deg);
}

.float__back img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  box-shadow: var(--box-shadow-light);
  transform: scale(1.5);
}

.discover__hero .bg__float:nth-child(2) {
  top: -15vw;
  right: 30vw;
}

.discover__hero .bg__float:nth-child(2) .float__front {
  background: #52bbbb;
}

.discover__hero .bg__float:nth-child(3) {
  top: -20vw;
  right: 55vw;
}

.discover__hero .bg__float:nth-child(3) .float__front {
  background: #5e896b;
}

.discover__hero .bg__float:nth-child(4) {
  top: -8vw;
  left: -3vw;
}

.discover__hero .bg__float:nth-child(4) .float__front {
  background: #ffbe9d;
}

.discover__hero .bg__float:nth-child(5) {
  top: 16vw;
  left: 20vw;
}

.discover__hero .bg__float:nth-child(5) .float__front {
  background: #455a64;
}

.discover__hero .bg__float:nth-child(6) {
  top: 18vw;
  right: 30vw;
}

.discover__hero .bg__float:nth-child(6) .float__front {
  background: #b07e5b;
}

.discover__hero .bg__float:nth-child(7) {
  top: 10vw;
  right: 0vw;
}

.discover__hero .bg__float:nth-child(7) .float__front {
  background: rgba(131, 92, 92, 0.85);
}

.discover__catalogue {
  margin: var(--m-long-y) 0;
}

.discover__catalogue .row:nth-child(1) {
  margin: calc(2 * var(--m-long-y)) 0;
}

.discover__catalogue .row:nth-child(1) h1 {
  font-size: calc(var(--fs-heading) * 0.6);
  text-align: center;
  font-weight: var(--fw-medium);
  color: var(--text-light);
}

.discover__catalogue .row:nth-child(2) h1 {
  font-size: var(--fs-big-heading);
  font-weight: var(--fw-heading-bold);
}

.discover__catalogue .row:nth-child(2) span {
  font-size: var(--fs-regular);
}

.discover__catalogue .row:nth-child(3) .col:nth-child(1) {
  gap: var(--gap-medium);
}

.discover__catalogue .country__select span,
.discover__catalogue .type__select span {
  font-size: var(--fs-medium);
  text-align: start;
  color: var(--text-light);
  cursor: pointer;
  font-weight: var(--fw-semi);
}

.discover__catalogue .country__select span i,
.discover__catalogue .type__select span i {
  font-size: var(--fs-medium);
  margin-left: 0.5rem;
}

.discover__catalogue .country__select ul,
.discover__catalogue .type__select ul {
  padding: 0.5rem 0.5rem;
  transition: linear 0.3s;
}

.discover__catalogue .country__select ul li,
.discover__catalogue .type__select ul li {
  font-size: var(--fs-regular);
  color: var(--text-light);
  cursor: pointer;
  margin-bottom: 0.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.discover__catalogue .row:nth-child(3) {
  padding: var(--gap-semi-big) 0;
  gap: calc(var(--gap-big));
}

.discover__catalogue .row:nth-child(3) .gallery {
  gap: var(--gap-medium);
  min-height: 60vh;
}

.pagination > div:nth-child(1) {
  gap: var(--gap-regular);
}

.pagination > div > span {
  cursor: pointer;
  font-size: var(--fs-medium);
}

.pagination > div > span.active__page {
  color: var(--main-color-1);
  text-decoration: underline;
}

.pagination > span {
  font-size: var(--fs-medium);
}

.destination__card {
  border-radius: var(--border-radius);
  position: relative;
}

.destination__card:hover {
  position: relative;
  box-shadow: var(--box-shadow-light);
}

.destination__card:hover img {
  transform: scale(1);
  filter: brightness(0.8);
  transition: filter 0.3s ease-in-out;
}

.destination__card::before {
  content: attr(data-name) " - " attr(data-country);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 5;
  border-radius: var(--border-radius);
  color: var(--text-dark);
  font-weight: var(--fw-semi);
  font-size: var(--fs-medium);
  text-transform: uppercase;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.destination__card:hover::before {
  opacity: 1;
}

.destination__card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.search__bar {
  width: 15vw;
}

.search__bar .form button {
  border: none;
  background: none;
  color: var(--text-light);
  margin: 0;
}

.search__bar .form button i {
  font-size: var(--fs-icon-btn);
}

.search__bar .form {
  --timing: 0.3s;
  --border-height: 2px;
  box-shadow: 0px 3px 10.8px 1px rgba(106, 106, 106, 0.25);
  position: relative;
  min-width: 15vw !important;
  height: 1vw !important;
  display: flex;
  align-items: center;
  padding: calc(var(--fs-regular) * 1.5) !important;
  border-radius: 30px;
  transition: border-radius 0.5s ease;
  background: inherit;
}

.search__bar .input {
  font-size: var(--fs-regular);
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: none;
}

.search__bar .form:before {
  content: "";
  position: absolute;
  background: var(--text-light);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform var(--timing) ease;
}

.search__bar .form:focus-within {
  border-radius: 1px;
}

.search__bar input:focus {
  outline: none !important;
  border: none !important;
}

.search__bar input:hover {
  border: none !important;
}

.search__bar .form:focus-within:before {
  transform: scale(1);
}

.search__bar .reset {
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}

.search__bar input:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}

.search__bar .form svg {
  width: var(--fs-regular);
  margin-top: 3px;
}
