/* Hero section */

.hero__content h1 span {
  font-size: var(--fs-big-heading);
  font-weight: 700;
  background: var(--heading-gradient);
  background-clip: text;
  color: transparent;
  letter-spacing: 0.5rem;
}

.hero {
  padding-left: var(--p-default-x);
  min-height: 100svh;
}

.hero__content h1 {
  margin-top: var(--m-medium-y) ;
  font-size: var(--fs-heading);
  font-weight: 600;
  color: var(--text-light);
  min-width: 45vw;
  line-height: 1.2;
  letter-spacing: 0.3rem;
  margin-bottom: 2rem;
}

.hero__circle {
  /* background: url('../assets/hero-circle.svg') transparent 100% / 94.5% no-repeat; */
  min-width: 50vw;
  max-width: 70vw;
  position: relative;
  min-height: 100svh;
}

/* .hero__circle::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('../assets/hero-blur.png') 100% / cover no-repeat;
    filter: blur(10px);
    z-index: 0;
  } */

.hero__circle :nth-child(1) {
  position: absolute;
  top: -10%;
  right: -20%;
  min-width: 50vw;
  max-width: 55vw;
  object-fit: contain;
  z-index: 0;
  background: transparent;
  transform: scale(1.2);
}
.hero__circle :nth-child(2) {
  position: absolute;
  top: 35%;
  right: 0;
  min-width: 50vw;
  max-width: 55vw;
  object-fit: contain;
  z-index: 1;
  background: transparent;
}

/* About Section */

.about {
  padding: 0 var(--p-default-x);
  margin: var(--m-long-y) 0;
}

.about video {
  min-width: 45vw;
  border-radius: var(--border-radius);
  /* min-height: 550px; */
}

.about .row:nth-child(1){
  margin-bottom: var(--m-default-y);
}

.about .row:nth-child(1) i {
  font-size: var(--fs-heading);
}

.about .row:nth-child(1) p {
  font-size: var(--fs-heading);
  font-weight: 500;
}

.about .row:nth-child(1) p strong {
  font-size: var(--fs-heading);
  color: var(--main-color-2);
  letter-spacing: 3px;
  font-weight: 500 !important;
}

.about .row:nth-child(1) .col:nth-child(2){
  min-width: 70vw;
}

.about .row:nth-child(2){
  gap: var(--gap-big)
}

.about .row:nth-child(2) .col:nth-child(2){
  gap: var(--gap-regular)
}

.about .row:nth-child(2) p {
  font-size: var(--fs-regular);
  line-height: 1.8;
  min-width: 30vw;
}

.about .row:nth-child(2) p strong {
  font-size: 1.5rem;
  /* color: var(--main-color-2); */
  font-weight: 500 !important;
}

/* Gallery */

.gallery__slider-1,
.gallery__slider-2 {
  margin: 10rem 0;
  width: 100%;
}

.gallery__slider-1 h1,
.gallery__slider-2 h1 {
  font-size: var(--fs-heading);
  font-weight: 500;
  color: var(--text-light);
  margin-bottom: 2rem;
}

.gallery__slider-1 h1 span,
.gallery__slider-2 h1 span {
  font-size: var(--fs-heading);
  font-weight: 500;
  color: var(--main-color-1);
}

.gallery__slider-1 .item {
  margin: 0 0.5rem;
  min-width: 25vw;
  min-height: 35vh;
  background: #e8e8e8;
  border-radius: var(--border-radius);
}

.gallery__slider-2 > :nth-child(1) {
  width: 100%;
  padding: 0 var(--p-default-x);
}

.gallery__slider-2 .item {
  margin: 0 0.5rem;
  min-width: 15vw;
  min-height: 12vh;
  background: #e8e8e8;
  border-radius: var(--border-radius);
}

/* Quote */
.quote {
  padding: 0 var(--p-default-x);
  margin: var(--m-long-y) 0;
}

.quote p {
  font-size: var(--fs-big-heading);
  font-weight: 600;
}

.quote .col-lg-4 > span {
  font-weight: 500;
}

.quote p span:nth-child(2) {
  font-size: var(--fs-big-heading);
  font-weight: 600;
  color: var(--main-color-2);
}

.quote p span:nth-child(4) {
  font-size: var(--fs-big-heading);
  font-weight: 600;
  color: var(--main-color-1);
}

.quote p i {
  font-size: var(--fs-big-heading);
  font-weight: 600;
  margin: 0 1rem;
}

/* Contribution */
.contribution {
  padding: 0 var(--p-default-x);
  margin: var(--m-long-y) 0;
}

.contribution h1 {
  font-size: var(--fs-heading);
  font-weight: 500;
  color: var(--text-light);
}

.contribution .container{
  gap: var(--gap-big);
}

.contribution .container > :nth-child(1) h1 {
  font-weight: 600;
  position: relative;
}

.contribution .container > :nth-child(1) h1 i {
  font-weight: 600;
  position: absolute;
  font-size: var(--fs-icon-btn);
  top: -0.5rem;
}

.contribution .container > :nth-child(2){
  gap:var(--gap-semi-big);
}

.form {
  padding: var(--p-form);
  min-width: 40vw;
  font-size: var(--fs-regular);
  box-shadow: var(--box-shadow-light);
  border-radius: var(--border-radius);
  gap: var(--gap-regular);
}

.form div {
  display: flex;
  flex-direction: column;
  gap: var(--gap-form);
}

.form div label {
  font-size: var(--fs-medium);
  font-weight: 400;
}

.form div input::placeholder,
.form div textarea::placeholder {
  font-size: var(--fs-regular);
  font-weight: 400;
}

.form div textarea {
  min-height: 20svh;
  max-height: 30svh;
}

.form button {
  margin-top: 0.5rem;
  max-width: 10vw;
}

.form-side{
  gap:var(--gap-medium);
}

.form-side h1 {
  line-height: 1.2;
}

.form-side p {
  font-size: var(--fs-regular);
  line-height: 1.8;
}

.contribution .container > :nth-child(3){
  margin-top: var(--m-default-y);
}

.contribution .container > :nth-child(3) button {
  align-self: flex-end;
  margin-bottom: 0.25rem;
  font-size: var(--fs-medium);
  font-weight: 500;
}

.contribution .container > :nth-child(3) button i {
  font-size: var(--fs-medium);
  font-weight: 500;
}

.contribution .container > :nth-child(3) h1 {
  line-height: 1.2;
}

.contribution > :nth-child(1){
  z-index:0;
  width: 40vw;
  top:0;
  left: -25%;
}