.styled-input {
  position: relative;

  label {
    padding-left: 0.25rem;
    z-index: 0;
    position: absolute;
    top: 0%;
    transition: 0.3s;
    pointer-events: none;
  }

  input {
    z-index: 10;
  }
}

.styled-input.active label {
  padding: 0;
  transform: translateY(-100%);
  transition: 0.3s;
}

.styled-input.active input:invalid {
  color: rgb(255, 64, 0)
}
