/* Typography Classes */
.big-heading {
  @apply font-prima text-4xl font-bold uppercase sm:text-7.5xl md:text-9xl lg:text-9xl xl:text-11xl 2xl:text-12xl 2xl:leading-snug 3xl:text-13xl 3xl:leading-snug;
  line-height: 1 !important;
}

.h1-md {
  @apply font-prima text-4xl font-semibold uppercase *:leading-[0.8] sm:text-6.5xl md:text-6xl md:font-bold lg:text-7xl xl:text-8xl 2xl:text-8.5xl 3xl:text-9xl 3xl:tracking-wide;
}

.h1-logo {
  @apply font-logo text-4xl font-semibold uppercase sm:text-5.5xl md:text-6.5xl md:font-bold lg:text-6xl xl:text-7xl 2xl:text-8xl 3xl:text-9xl;
}

.h1-md-bold {
  @apply font-prima text-4xl font-bold uppercase sm:text-5.5xl md:text-6xl md:font-bold lg:text-7xl xl:text-8xl 2xl:text-8.5xl 3xl:text-9xl 3xl:tracking-wide;
}

.h2-md {
  @apply font-prima text-xl font-semibold tracking-normal sm:text-2.5xl md:text-3.5xl lg:text-4xl xl:text-4.5xl 2xl:text-5xl 3xl:text-6xl;
}

.h2-logo {
  @apply font-logo text-3xl font-semibold md:text-3xl lg:text-3xl xl:text-4.5xl 2xl:text-5xl 3xl:text-6xl;
}

.h2-inter {
  @apply text-xl font-medium tracking-tight sm:text-2.5xl md:text-3xl lg:text-4xl xl:text-4.5xl 2xl:text-5xl 3xl:text-6xl;
}

.h3-md {
  @apply font-prima text-xl font-medium leading-[1] tracking-tight sm:text-1.5xl md:text-2xl md:font-semibold lg:text-3xl xl:text-3.5xl 2xl:text-4xl 3xl:text-4.5xl;
}

.h3-inter {
  @apply text-xl font-medium leading-normal tracking-tight sm:text-1.5xl md:text-2xl lg:text-3xl xl:text-3.5xl 2xl:text-4xl 3xl:text-4.5xl;
}

.p-regular {
  @apply text-xs font-normal sm:text-sm md:text-base lg:text-base xl:text-lg 2xl:text-xl;
}

.p-medium {
  @apply text-sm font-medium sm:text-sm md:text-base lg:text-lg xl:text-lg 2xl:text-xl 3xl:text-1.5xl;
}

.p-large {
  @apply text-base font-medium sm:text-lg md:text-lg lg:text-xl xl:text-1.5xl 2xl:text-2xl 3xl:text-3xl;
}

.span-small {
  @apply text-[0.65rem] font-normal sm:text-sm md:text-sm lg:text-sm xl:text-sm 2xl:text-base 3xl:text-base;
}

.span-regular {
  @apply text-sm font-medium sm:text-sm md:text-base lg:text-base xl:text-base 2xl:text-lg 3xl:text-lg;
}

.span-medium {
  @apply text-sm font-semibold sm:text-sm md:text-base lg:text-base xl:text-base 2xl:text-lg 3xl:text-lg;
}

.span-large {
  @apply text-sm font-extrabold sm:text-sm md:text-base lg:text-base xl:text-base 2xl:text-lg 3xl:text-lg;
}

.text-stroke {
  -webkit-text-stroke: 2px #333333;
}

.dark .text-stroke {
  -webkit-text-stroke: 2px #ffffff;
}

.text-stroke-bold {
  -webkit-text-stroke: 4px #333333;
}

.dark .text-stroke-bold {
  -webkit-text-stroke: 4px #ffffff;
}

.text-stroke-light {
  -webkit-text-stroke: 2px #ffffff;
}

.dark .text-stroke-light {
  -webkit-text-stroke: 2px #333333;
}

.text-stroke-bright-bold {
  -webkit-text-stroke: 4px #ffffff;
}

.text-stroke-bright {
  -webkit-text-stroke: 2px #ffffff;
}

/* .dark .text-stroke-light-bold {
    -webkit-text-stroke: 4px #333333;
  } */
