@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("http://kenwheeler.github.io/slick/slick/slick-theme.css");

*, html {
  scroll-behavior: smooth !important;
  @apply text-text-light dark:text-text-dark;
}

html {
  @apply bg-background-light overflow-x-hidden;
}

body {
  @apply relative m-0 min-h-screen scroll-smooth p-0 font-sans font-normal leading-relaxed;
  font-family: "Inter", sans-serif;
}

img {
  max-width: 100%;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  @apply text-start;
}

.font-kaushan {
  font-family: "Kaushan Script", cursive;
}

.btn {
  @apply flex cursor-pointer items-center justify-center rounded border-none font-medium uppercase tracking-wide shadow-md shadow-gray transition-all lg:gap-2 lg:px-3 lg:py-2 lg:text-base xl:gap-2 xl:px-4 xl:py-2 xl:text-base 2xl:gap-3 2xl:px-5 2xl:py-3 2xl:text-xl 3xl:gap-3 3xl:px-6 3xl:py-3 3xl:text-xl;
}

.btn-primary {
  @apply bg-main-brown text-text-dark;
}

.btn-secondary {
  @apply border-2 border-solid border-text-light bg-light-green text-text-light;
}

.underline__btn {
  @apply relative cursor-pointer font-medium uppercase lg:text-base xl:text-lg 2xl:text-xl 3xl:text-xl;
  width: -moz-fit-content;
  width: fit-content;
}

.underline__btn i {
  @apply lg:text-xl xl:text-xl 2xl:text-2xl 3xl:text-2xl;
}

.underline__btn::before {
  @apply absolute bottom-0 right-0 w-0 rounded-sm bg-text-light;
  content: "";
  height: 2px;
  transition:
    right 0.4s,
    width 0.4s,
    left 0.4s;
}

.underline__btn:hover::before {
  width: 100%;
  left: 0;
}

.px-sect {
  @apply sm:px-6 md:px-8 lg:px-12 xl:px-16 2xl:px-20 3xl:px-24;
}

.pl-sect {
  @apply sm:pl-6 md:pl-8 lg:pl-12 xl:pl-16 2xl:pl-20 3xl:pl-24;
}

.blur-blob {
  position: absolute;
  z-index: 5;
  /* transform: translate(-50%, 0%); */
  border-radius: 50% 22% 40% 80%;
  filter: blur(80px);
  opacity: 0.3;
}
