/* Import Tailwind CSS */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Base Styles */
@import "src/styles/base/variables.css";
@import "src/styles/base/buttons.css";
@import "src/styles/base/layout.css";
@import "src/styles/base/scrollbar.css";
@import "src/styles/base/typography.css";

/* General Styles */
.lenis-smooth .react-player::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

*,
html {
  @apply text-text-light dark:text-text-dark;
}

html {
  @apply overflow-x-hidden;
}

body {
  @apply relative m-0 min-h-screen scroll-smooth bg-background-light p-0 font-sans font-normal leading-relaxed dark:bg-background-dark;
  font-family: "Inter", sans-serif;
}

body * {
  @apply transition-colors duration-500;
}

footer * {
  scrollbar-width: none;
}

img {
  max-width: 100%;
  text-indent: -9999px;
  overflow: hidden;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  @apply text-start;
  line-height: 1.2 !important;
}

.blur-blob {
  position: absolute;
  z-index: 0;
  border-radius: 50% 22% 40% 80%;
  filter: blur(80px);
}

.blob-green {
  background: var(--aurora-green-gradient);
}

.blob-brown {
  background: var(--aurora-brown-gradient);
}
