/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* Import Tailwind CSS */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Custom Font Faces */
@font-face {
  font-family: "Kaushan Script";
  src: url("./fonts/KaushanScript/KaushanScript-Regular.ttf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MD Nichrome";
  src: url("./fonts/MD-Nichrome/MDNichromeTest-Infra.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MD Nichrome";
  src: url("./fonts/MD-Nichrome/MDNichromeTest-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MD Nichrome";
  src: url("./fonts/MD-Nichrome/MDNichromeTest-Regular.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MD Nichrome";
  src: url("./fonts/MD-Nichrome/MDNichromeTest-Dark.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MD Nichrome";
  src: url("./fonts/MD-Nichrome/MDNichromeTest-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MD Nichrome";
  src: url("./fonts/MD-Nichrome/MDNichromeTest-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Default Theme Variables */
:root {
  --transparent: transparent;
  --background-dark: #1e2125;
  --background-light: #fbf9f7;
  --background-dark-transparent: #101010;
  --main-green: #8ab17c;
  --main-brown: #eb996e;
  --dark-brown: #b56f49;
  --dark-green: #658f55;
  --light-green: #f8fcf3;
  --light-brown: #fff9f3;
  --background-dark-green: #374137;
  --background-dark-brown: #322d27;
  --yellow: #f1ba50;
  --text-light: #333333;
  --text-dark: #ffffff;
  --gray: #969696;
  --aurora-green: #90b37f;
  --aurora-brown: #e7aa75b2;
  --aurora-brown-gradient: radial-gradient(circle at 50% 50%, var(--aurora-brown), rgba(76, 0, 255, 0));
  --aurora-green-gradient: radial-gradient(circle at 50% 50%, var(--aurora-green), rgba(76, 0, 255, 0));
  --space-gradient: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(62.05, 75.92, 102.85) 100%);
  --image-gradient: linear-gradient(to top, #263238, #969696);

  /* Inspiration Gradients */
  --inspiration-gradient: linear-gradient(180deg, rgb(10.02, 10.23, 10.38) 0%, rgb(70.95, 96.12, 114.35) 50%, rgb(251, 249, 247) 100%);
  --inspiration-gradient-dark: linear-gradient(180deg, rgb(10.02, 10.23, 10.38) 0%, rgb(70.95, 96.12, 114.35) 50%, var(--background-dark) 100%);

  /* Spring Gradients */
  --spring-gradient: linear-gradient(180deg, rgba(239, 156, 102, 1) 0%, rgba(200, 207, 160, 1) 50%, rgba(251, 249, 247, 1) 100%);
  --spring-gradient-dark: linear-gradient(180deg, rgba(239, 156, 102, 1) 0%, rgba(200, 207, 160, 1) 50%, var(--background-dark) 100%);

  --spring-summer-gradient: linear-gradient(180deg, rgba(200, 207, 160, 1) 0%, rgba(120, 171, 168, 1) 50%, rgba(251, 249, 247, 1) 100%);
  --spring-summer-gradient-dark: linear-gradient(180deg, rgba(200, 207, 160, 1) 0%, rgba(120, 171, 168, 1) 50%, var(--background-dark) 100%);

  /* Summer Gradients */
  --summer-gradient: linear-gradient(180deg, rgba(54, 186, 152, 1) 0%, rgba(233, 196, 106, 1) 50%, rgba(251, 249, 247, 1) 100%);
  --summer-gradient-dark: linear-gradient(180deg, rgba(54, 186, 152, 1) 0%, rgba(233, 196, 106, 1) 50%, var(--background-dark) 100%);

  --summer-fall-gradient: linear-gradient(180deg, rgb(0, 0, 51) 0%, rgb(255, 165, 0) 50%, rgb(251, 249, 247) 100%);
  --summer-fall-gradient-dark: linear-gradient(180deg, rgb(0, 0, 51) 0%, rgb(255, 165, 0) 50%, var(--background-dark) 100%);

  /* Fall Gradients */
  --fall-gradient: linear-gradient(180deg, rgb(51, 0, 0) 0%, rgb(139, 69, 19) 50%, rgb(251, 249, 247) 100%);
  --fall-gradient-dark: linear-gradient(180deg, rgb(51, 0, 0) 0%, rgb(139, 69, 19) 50%, var(--background-dark) 100%);

  --fall-winter-gradient: linear-gradient(180deg, rgb(43, 21, 21) 0%, rgb(184, 134, 11) 50%, rgb(251, 249, 247) 100%);
  --fall-winter-gradient-dark: linear-gradient(180deg, rgb(43, 21, 21) 0%, rgb(184, 134, 11) 50%, var(--background-dark) 100%);

  /* Winter Gradients */
  --winter-gradient: linear-gradient(180deg, rgba(38, 80, 115, 1) 0%, rgba(45, 149, 150, 1) 50%, rgba(251, 249, 247, 1) 100%);
  --winter-gradient-dark: linear-gradient(180deg, rgba(38, 80, 115, 1) 0%, rgba(45, 149, 150, 1) 50%, var(--background-dark) 100%);

  --winter-spring-gradient: linear-gradient(180deg, rgba(6, 70, 53, 1) 0%, rgba(240, 187, 98, 1) 50%, rgba(251, 249, 247, 1) 100%);
  --winter-spring-gradient-dark: linear-gradient(180deg, rgba(6, 70, 53, 1) 0%, rgba(240, 187, 98, 1) 50%, var(--background-dark) 100%);

  /* Category Colors */
  --wilderness: #8ab17c;
  --cultureheritage: #97764f;
  --foodlovers: #b17c8c;
  --solojourneys: #333333;
  --cityscape: #b9d1d1;
  --seasonfestival: #c35757;
  --relaxation: #a6dbb8;
  --firsttimeabroad: #eb996e;
}

/* General Styles */
.lenis-smooth .react-player::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
}

*,
html {
  @apply text-text-light dark:text-text-dark;
}

html {
  @apply overflow-x-hidden;
}

body {
  @apply relative m-0 min-h-screen scroll-smooth bg-background-light p-0 font-sans font-normal leading-relaxed dark:bg-background-dark;
  font-family: "Inter", sans-serif;
}

body * {
  @apply transition-colors duration-500;
}

footer * {
  scrollbar-width: none;
}

img {
  max-width: 100%;
  text-indent: -9999px;
  overflow: hidden;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  @apply text-start;
  line-height: 1.2 !important;
}

/* Scrollbar Styles */
body::-webkit-scrollbar-track,
.custom-scrollbar::-webkit-scrollbar-track {
  border-radius: 50px;
  background-color: transparent;
}

body::-webkit-scrollbar,
.custom-scrollbar::-webkit-scrollbar {
  background-color: transparent;
}

body::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar:hover,
body::-webkit-scrollbar:active {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar:hover,
.custom-scrollbar::-webkit-scrollbar:active {
  width: 8px;
}

body::-webkit-scrollbar-thumb,
.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray transition-colors;
  border-radius: 50px;
  cursor: pointer;
}

body::-webkit-scrollbar-thumb:active,
.custom-scrollbar::-webkit-scrollbar-thumb:active,
body::-webkit-scrollbar-thumb:hover,
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-background-dark dark:bg-background-light;
}

/* Typography Classes */
.big-heading {
  @apply font-prima font-bold uppercase text-6.5xl sm:text-7.5xl md:text-9xl lg:text-9xl xl:text-11xl 2xl:text-12xl 2xl:leading-snug 3xl:text-13xl 3xl:leading-snug;
  line-height: 1 !important;
}

.h1-md {
  @apply font-prima font-semibold *:leading-[0.8] md:font-bold uppercase text-4xl sm:text-6.5xl md:text-6xl lg:text-7xl xl:text-8xl 2xl:text-8.5xl 3xl:text-9xl 3xl:tracking-wide;
}

.h1-logo {
  @apply font-logo font-semibold md:font-bold uppercase text-4xl sm:text-5.5xl md:text-6.5xl lg:text-6xl xl:text-7xl 2xl:text-8xl 3xl:text-9xl;
}

.h1-md-bold {
  @apply font-prima font-bold md:font-bold uppercase text-4xl sm:text-5.5xl md:text-6xl lg:text-7xl xl:text-8xl 2xl:text-8.5xl 3xl:text-9xl 3xl:tracking-wide;
}

.h2-md {
  @apply font-prima font-semibold tracking-normal text-1.5xl sm:text-2.5xl md:text-3.5xl lg:text-4xl xl:text-4.5xl 2xl:text-5xl 3xl:text-6xl;
}

.h2-logo {
  @apply font-logo font-semibold text-3xl md:text-3xl lg:text-3xl xl:text-4.5xl 2xl:text-5xl 3xl:text-6xl;
}

.h2-inter {
  @apply font-medium tracking-tight text-1.5xl sm:text-2.5xl md:text-3xl lg:text-4xl xl:text-4.5xl 2xl:text-5xl 3xl:text-6xl;
}

.h3-md {
  @apply font-prima font-semibold leading-[1] tracking-tight text-xl sm:text-1.5xl md:text-2xl lg:text-3xl xl:text-3.5xl 2xl:text-4xl 3xl:text-4.5xl;
}

.h3-inter {
  @apply font-medium leading-normal tracking-tight text-xl sm:text-1.5xl md:text-2xl lg:text-3xl xl:text-3.5xl 2xl:text-4xl 3xl:text-4.5xl;
}

.p-regular {
  @apply font-normal text-xs sm:text-sm md:text-base lg:text-base xl:text-lg 2xl:text-xl;
}

.p-medium {
  @apply font-medium text-sm sm:text-sm md:text-base lg:text-lg xl:text-lg 2xl:text-xl 3xl:text-1.5xl;
}

.p-large {
  @apply font-medium text-lg sm:text-lg md:text-lg lg:text-xl xl:text-1.5xl 2xl:text-2xl 3xl:text-3xl;
}

.span-small {
  @apply font-normal text-xs sm:text-sm md:text-sm lg:text-sm xl:text-sm 2xl:text-base 3xl:text-base;
}

.span-regular {
  @apply font-medium text-sm sm:text-sm md:text-base lg:text-base xl:text-base 2xl:text-lg 3xl:text-lg;
}

.span-medium {
  @apply font-semibold text-sm sm:text-sm md:text-base lg:text-base xl:text-base 2xl:text-lg 3xl:text-lg;
}

.span-large {
  @apply font-extrabold text-sm sm:text-sm md:text-base lg:text-base xl:text-base 2xl:text-lg 3xl:text-lg;
}

.text-stroke {
  -webkit-text-stroke: 2px #333333;
}

.dark .text-stroke {
  -webkit-text-stroke: 2px #ffffff;
}

.text-stroke-bold {
  -webkit-text-stroke: 4px #333333;
}

.dark .text-stroke-bold {
  -webkit-text-stroke: 4px #ffffff;
}

.text-stroke-light {
  -webkit-text-stroke: 2px #ffffff;
}

.dark .text-stroke-light {
  -webkit-text-stroke: 2px #333333;
}

.text-stroke-light-bold {
  -webkit-text-stroke: 4px #ffffff;
}

/* .dark .text-stroke-light-bold {
  -webkit-text-stroke: 4px #333333;
} */

/* Button Classes */
.btn {
  @apply flex w-fit cursor-pointer items-center justify-center gap-2 whitespace-nowrap rounded-md border-none py-2 text-xs font-medium uppercase tracking-wide shadow-component dark:shadow-component-dark px-2 md:px-3 md:text-sm lg:gap-2 lg:px-3 lg:py-2 lg:text-base xl:gap-2 xl:px-4 xl:py-2 xl:text-base 2xl:gap-3 2xl:px-5 2xl:py-3 2xl:text-xl 3xl:gap-3 3xl:px-6 3xl:py-3 3xl:text-xl;
}

.page-btn {
  @apply text-center grid place-items-center font-medium leading-[0.8] dark:border-text-dark border h-6 w-6 rounded-md lg:h-8 lg:w-8 lg:rounded-lg lg:border lg:text-base xl:text-base 2xl:h-8 2xl:w-8 2xl:rounded-lg 2xl:border-2 2xl:text-lg 3xl:text-lg;
}

.page-btn.active {
  @apply bg-background-dark text-text-dark dark:bg-background-light dark:text-text-light;
}

.btn-primary {
  @apply bg-main-brown text-text-dark dark:bg-dark-brown;
  box-shadow: -2px 3px 6.2px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(255, 242, 242, 0.25) inset !important;
}

.btn-secondary {
  @apply border-2 border-solid border-text-light bg-light-green text-text-light dark:border-text-dark dark:bg-dark-green dark:text-text-dark;
}

.underline-btn {
  @apply relative w-fit cursor-pointer uppercase lg:text-base lg:font-medium xl:text-lg 2xl:text-xl 2xl:font-semibold 3xl:text-xl;
}

.underline-btn i {
  @apply lg:text-xl xl:text-xl 2xl:text-2xl 3xl:text-2xl;
}

.underline-btn::before {
  @apply absolute bottom-0 right-0 w-0 rounded-sm bg-text-light dark:bg-text-dark lg:h-[1.5px] 2xl:h-[2px];
  content: "";
  transition: right 0.4s, width 0.4s, left 0.4s;
}

.underline-btn:hover::before {
  width: 100%;
  left: 0;
}

/* Layout Classes */
.px-sect {
  @apply px-6 md:px-8 lg:px-12 xl:px-16 2xl:px-20 3xl:px-24;
}

.pl-sect {
  @apply pl-6 md:pl-8 lg:pl-12 xl:pl-16 2xl:pl-20 3xl:pl-24;
}

.pr-sect {
  @apply pr-6 md:pr-8 lg:pr-12 xl:pr-16 2xl:pr-20 3xl:pr-24;
}

.mx-sect {
  @apply mx-6 md:mx-8 lg:mx-12 xl:mx-16 2xl:mx-20 3xl:mx-24;
}

.ml-sect {
  @apply ml-6 md:ml-8 lg:ml-12 xl:ml-16 2xl:ml-20 3xl:ml-24;
}

.mr-sect {
  @apply mr-6 md:mr-8 lg:mr-12 xl:mr-16 2xl:mr-20 3xl:mr-24;
}

/* Other Element Classes */
.blur-blob {
  position: absolute;
  z-index: 0;
  border-radius: 50% 22% 40% 80%;
  filter: blur(80px);
}

.blob-green {
  background: var(--aurora-green-gradient);
}

.blob-brown {
  background: var(--aurora-brown-gradient);
}
