body {
  position: relative;
}

.header {
  width: 100%;
  padding: 0 var(--p-default-x);
  min-height: 4rem;
  position: fixed;
  top: 0;
  background: transparent;
  z-index: 15;
}

.header h1 {
  font-size: var(--fs-logo);
}

.header button i {
  font-size: var(--fs-icon-btn);
}

.header li a {
  font-size: var(--fs-medium);
  mix-blend-mode: lighten;
  font-weight: 500;
}

.header * {
  background: transparent !important;
}
