.hero {
  .blob-shadow {
    @apply dark:bg-gradient-to-r from-blue-gray-700 to-blue-gray-700;
    background: radial-gradient( circle at 50% 50%, #595959, rgba(76, 0, 255, 0) ) ;
  }
}

.brief {
  p.active {
    opacity: 100 !important;
  }
}

.blogs {
  /* background: linear-gradient(180deg, #e7fff3 10%, #fbf9f7 40%); */
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
}

.starter {
  @apply dark:bg-dark-brown bg-gradient-to-b from-[#eb996e] to-[#9e694d];
}
